.alphabet {
  width: 30px;
  height: 100%;
  background-image: url('/public/images/backGrDrag.png');
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 4px;
  overflow: hidden;
  overflow-y: auto;
}

.alphabet p {
  cursor: pointer;
  padding: 8 px 0;
  color: grey;
}

.alphabet::-webkit-scrollbar {
  display: none;
}
